img#img2 {
    margin-left: 350px;
    margin-top: 50px;
    width: 180px;
    height: 180px;
    margin-top: 50px;
    
}
img#img3 {
    margin-left: 270px;
}
img#img1 {
    margin-left: 20px;
}
ul {
    list-style: none;
    display: flex;
}
ul li#li3 {
    margin-left: 600px;
}
ul li#li2 {
    margin-left: 350px;
}
